<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<h1>Item</h1>
<div>
    <div>Id: <span th:text="${item.id}"></span></div>
    <div>Name: <span th:text="${item.name}"></span></div>
    <div>Description: <span th:text="${item.description}"></span></div>
    <div>Price: <span th:text="${item.price}"></span></div>
    <div>Url: <span th:text="${item.url}"></span></div>
    <div>Image Url: <span th:text="${item.image_url}"></span></div>
    <div>Created at: <span th:text="${item.created_at}"></span></div>
</div>
<div th:replace="footer :: footer"></div>
<script>
    function toggleMenu() {
        const nav = document.getElementById("navLinks");

        console.log("CLICKED"); // 👈 DEBUG (check console)

        if (nav) {
            nav.classList.toggle("active");
        } else {
            console.error("navLinks not found");
        }
    }
</script>
</body>
</html>