<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<div class="item-container">
    <div><img th:src="${item.image_url}" alt="Product image" height="300"></div>
    <div>
        <h1><span th:text="${item.name}"></span></h1>
        <div><h2><span th:text="${item.price}"></span>.00,-</h2></div>
        <div><a th:href="${item.url}">Take Me To The Store!</a></div>
    </div>
</div>
<div class="class-description">
    <h3>Information</h3>
</div>
<div class="class-description">
    <span th:text="${item.description}"></span>
</div>
<div th:replace="footer :: footer"></div>
<script>
    function toggleMenu() {
        const nav = document.getElementById("navLinks");

        console.log("CLICKED"); // 👈 DEBUG (check console)

        if (nav) {
            nav.classList.toggle("active");
        } else {
            console.error("navLinks not found");
        }
    }
</script>
</body>
</html>