<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div th:replace="navbar :: navbar"></div>
<h1 class="title">Products</h1>
<div class="products-container">
    <div th:each="product : ${products}" class="box">
        <a th:href="@{/products/item(id=${product.id})}" class="products-name">
            <div th:text="${product.name}"></div>
            <img th:src="${product.image_url}" alt="Product image" style="width:200px">
        </a>
    </div>
</div>
<div th:replace="footer :: footer"></div>
<script>
    function toggleMenu() {
        const nav = document.getElementById("navLinks");

        console.log("CLICKED"); // 👈 DEBUG (check console)

        if (nav) {
            nav.classList.toggle("active");
        } else {
            console.error("navLinks not found");
        }
    }
</script>
</body>
</html>